extends ../layouts/main-layout

block content
    h1 Details baby, details 
        main    
            .centered
                img.details-img(src=blog.imgUrl, alt=blog.title)
                .author-title
                    h2 #{blog.title}
                    p #{blog.author}
                div
                    p #{blog.content}
                    p #{blog.date}
                -const blogId = blog.id
                include ../layouts/add-to-favourites

