extends ../layouts/main-layout

block styles 
    link(rel="stylesheet", href="/css/form.css")

block content
    h1 Details baby, details 
        main    
            .centered
                img.details-img(src=blog.imgUrl, alt=blog.title)
                .author-title
                    h2 #{blog.title}
                    p #{blog.author}
                div
                    p #{blog.content}
                    p #{blog.date}
                hr
                .comments 
                    if comments.length > 0
                        for comment in comments 
                            div     
                                h2 #{comment.userId} 
                                p #{comment.content}
                            .edit-delete-reply
                                a.btn.btn-edit(href=`/blogs/${blog.id}/edit-comment/${comment.id}?edit=true`) E
                                //- form(action="/edit-comment" method="POST") 
                                //-     input(type="hidden" value=comment.id name="commentId")
                                //-     input(type="hidden" value=blog.id name="blogId")
                                //-     button.btn.btn-edit(type="submit") E
                                form(action="/delete-comment" method="POST")
                                    input(type="hidden" value=comment.id name="commentId") 
                                    input(type="hidden" value=blog.id name="blogId") 
                                    button.btn.btn-delete(type="submit") D
                                form(action="reply-comment" method="POST") 
                                    input(type="hidden" value=comment.id name="commentId")
                                    input(type="hidden" value=blog.id name="blogId")
                                    button.btn.btn-reply(type="submit") R
                    else 
                        p No comments yet
                    hr
                .form-comment
                    form(action= isEdit ? "/edit-comment": " /add-comment", method="POST") 
                        label(for="comment") #{isEdit ? "Update..." : "Comment..."} 
                        textarea.comment-section(name="comment", cols="100", rows="20" value= isEdit ? comment.content : '')#content #{isEdit ? comment.content : ''}
                        input(type="hidden", name=isEdit ?"commentId": '', value=isEdit ? comment.id : '')
                        input(type="hidden", name="blogId", value=blog.id )
                        button.btn.btn-comment(type="submit") #{isEdit? "Update": "Comment"}
                -const blogId = blog.id
                include ../layouts/add-to-favourites

